:root {
    font-family: Helvetica, sans-serif;
    background-color: #ebebeb;
    color: #021f54;
    scroll-behavior: smooth;
}
body {
 max-width: 100%;
 margin: auto;
}
h1, h2, p, div, nav, header, footer {
    margin: 0;
    padding: 0;
}
#title{
    display: flex;
    justify-content: flex-start;
    font-family: Helvetica, sans-serif;
    font-size: 26px;
    color: #021f54;
    text-transform: uppercase;
    font-weight: bold;
    margin: 26px 0 0 26px;
}
.navigation  {
    display: flex;
    justify-content: flex-end;
}
.navigation li {
    list-style-type: none;
    margin: 26px 26px 0 26px;
}
.navigation a {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

#heading {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 35px 0 35px 0;
}
.information {
    font-size: 18px;
}
