:root {
    font-family: Helvetica, sans-serif;
    background-color: #ebebeb;
    color: #021f54;
}
body {
 max-width: 100%;
 margin: auto;
}
h1, h2, p, div, nav, header, footer {
    margin: 0;
    padding: 0;
}
.main-page {
    display: flex;
}
nav {
    display: flex;
    justify-content: space-between;
}
#title{
    font-family: Helvetica, sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 26px 0 0 26px;
}
.navigation .menu {
    display: flex;
    margin: 26px 26px 0 0;
}
.navigation li {
    list-style-type: none;
}
.navigation a {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-right: 3px solid #021f54;
    padding: 0 26px 0 26px;
}
 a #contact {
    border: none;
}
.navigation a:hover {
    border-bottom: 3px solid #021f54;
}
#heading {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 35px 0 35px 0;
}
.content {
    display: flex;
    justify-content: space-around;
}
.information {
    font-size: 18px;
    max-width: 600px;
}

footer .social-networks {
    display: flex;
    justify-content: center;
    margin: 35px 0 35px 0;
}
#facebook {
    margin-right:26px;
}
#telegram {
    margin-right:26px;
}
footer .copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}