.main-page {
    background-image: url(../img/van-for-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    height: 650px;


}
#tagline {
    font-family: Helvetica, sans-serif;
    font-size: 26px;
    color: #ebebeb;
    text-transform: uppercase;
    font-weight: bold;
    flex-direction: row;
    align-self: flex-end;
}
