.main-page {
    background-image: url(../img/van-for-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
     min-height: 650px;
}
#tagline {
    font-family: Helvetica, sans-serif;
    font-size: 26px;
    color: #ebebeb;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 650px;
    margin: 0 26px 26px 0;
}
.content {
    display: flex;
    justify-content: space-around;
}
